.title--h2 {
    color: #0A3B93;
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    padding-left: 60px;
    margin: 0;
}

.title--duffbeer {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.title--adv {
    margin-bottom: 60px;
}

@media (max-width: 1339px) {

    .title--adv {
        margin-bottom: 32px;
        padding-left: 40px;
    }

    .title--duffbeer {
        padding-left: 40px;
    }
}

@media (max-width: 1019px) {

    .title--h2 {
        font-size: 20px;
        line-height: 32px;
        padding-left: 20px;
    }

    .title--adv {
        margin-bottom: 20px;
    }

    .title--duffbeer {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 699px) {

    .title--duffbeer {
        margin-bottom: 19px;
    }
}
