* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1250px;
}

@media (max-width: 1339px) {
    .container {
        max-width: 930px;
    }
}

@media (max-width: 1019px) {
    .container {
        max-width: 610px;
    }
}

@media (max-width: 699px) {
    .container {
        max-width: 100%;
        min-width: 300px;
    }
}


