.about-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about-block__left,
.about-block__right {
    flex-basis: 48.5%;
}

.video {
    margin: 40px 0 0 60px;
    box-shadow: -35px -35px 0 #F7EEE5;
}

.video-frame {
    width: 545px;
    height: 365px;
}

.about-block__title {
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #0A3B93;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    padding: 86px 0 32px 0;
    margin: 0;
}

.about-block__title:before {
    position: absolute;
    content: url("../../img/about/167.svg");
    top: 0;
    left: 0;
}

.about-block__description {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #8A7B60;
    width: 90%;
    margin: 0;
}

.about-block__description--margin {
        margin-bottom: 17px;
}

@media (max-width: 1339px) {
    .about-block {
        margin-bottom: 80px;
    }

    .about-block__left,
    .about-block__right {
        flex-basis: 49%;
    }


    .video {
        margin: 58px 0 0 42px;
        box-shadow: -46px -25px 0 #F7EEE5;
    }

    .video-frame {
        width: 409px;
        height: 276px;
    }

    .about-block__description {
        width: 95%;
    }
}

@media (max-width: 1019px) {
    .about-block {
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .about-block__title {
        font-size: 8px;
        line-height: 30px;
        padding: 31px 0 8px;
        letter-spacing: .04em;
    }

    .about-block__title:before {
        position: absolute;
        content: "";
        width: 71px;
        height: 31px;
        background: url("../../img/about/167.svg") center center no-repeat;
        background-size: 100%;
        top: 0;
        left: 0;
    }

    .about-block__description {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }

    .about-block__description--margin {
        margin-bottom: 12px;
    }

    .video {
        margin: 68px 0 0 27px;
        box-shadow: -27px -39px 0 #F7EEE5;
    }

    .video-frame {
        width: 100%;
        height: 361px;
    }
}

@media (max-width: 699px) {
    .about-block {
        padding: 0 19px;
        margin-bottom: 50px;
    }

    .about-block__title {
        padding: 35px 0 17px;
    }

    .about-block__description--margin {
        margin-bottom: 10px;
    }

    .video-frame {
        height: calc(182px + (361 - 174) * ((100vw - 300px) / (699 - 300)));
    }

    .video {
        margin: 48px 0 0 0;
        box-shadow: -24px -18px 0 #f7eee5;
    }

}
