.advantage-block {
    background: #F7EEE5;
    padding: 100px 0 86px;
}

.advantage-block__list {
    display: flex;
    padding: 0 60px;
    flex-wrap: wrap;
}

.advantage-block__list-item {
    flex-basis: 31.5%;
    margin-bottom: 38px;
}

.advantage-block__list-item:not(:nth-child(3n+3)) {
    margin-right: 31px;
}


@media (max-width: 1339px) {

    .advantage-block {
        padding: 80px 0 50px;
    }

    .advantage-block__list {
        padding: 0 40px;
    }

    .list-item__poster {
        width: 260px;
        height: 178px;
        object-fit: cover;
    }

    .advantage-block__list-item:not(:nth-child(3n+3)) {
        margin-right: 35px;
    }

    .advantage-block__list-item {
        flex-basis: 30%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1019px) {

    .advantage-block {
        padding: 60px 0 56px 0;
    }

    .advantage-block__list {
        padding: 0 20px;
    }

    .advantage-block__list-item,
    .advantage-block__list-item:not(:nth-child(3n+3)) {
        margin: 0 26px 0 0;
    }
}

@media (max-width: 699px) {

    .advantage-block {
        padding: 50px 0 57px 0;
    }
}
