.duffbeer-block {
    background: #F7EEE5;
    padding-bottom: 120px;
}

.duffbeer__list {
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

.duffbeer__description {
    font-size: 18px;
    line-height: 30px;
    color: #8A7B60;
    padding-bottom: 60px;
    padding-left: 60px;
    margin: 0;
}

.duffbeer__item--first {
    width: 565px;
    height: 294px;
    background: url("../../img/duffbeer/1.jpg")center center no-repeat;
}

.duffbeer__item--first-description {
    width: 100%;
    background: #8A7B60;
    text-align: right;
    position: relative;
    top: 82%;
    padding: 16px 40px 16px 40px;
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.duffbeer__item--second {
    background: url("../../img/duffbeer/2.jpg")center center no-repeat;
    width: 294px;
    height: 240px;
}

.duffbeer__item--second-description {
    width: 100%;
    background: #0A3B8E;
    padding: 16px 0 16px 40px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    top: 100%;
    position: relative;
}

.duffbeer__item--third {
    height: 294px;
    width: 294px;
    position: relative;
    padding: 179px 40px 73px 40px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #0A3B8E;
    margin-left: 271px;
}

.duffbeer__item--third:before {
    position: absolute;
    content:url("../../img/duffbeer/167w.svg");
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
}

.duffbeer__item--four {
    background: url("../../img/duffbeer/3.jpg")center center no-repeat;
}

.duffbeer__item--four-description {
    text-align: left;
    padding: 16px 40px;
}

.duffbeer__item--fifth {
    background: url("../../img/duffbeer/4.jpg")center center no-repeat;
}

.duffbeer__item--six {
    margin-left: 0;
}

.duffbeer__item--six:before {
    position: absolute;
    content:url("../../img/duffbeer/4w.svg");
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1339px) {

    .duffbeer-block {
        padding-bottom: 140px;
    }

    .duffbeer__description {
        padding-bottom: 32px;
        padding-left: 40px;
    }

    .duffbeer__list {
        padding-left: 40px;
    }

    .duffbeer__item--first {
        width: 454px;
        height: 294px;
        background: url("../../img/duffbeer/1.1.jpg")center center no-repeat;;
    }

    .duffbeer__item--first-description {
        padding: 16px 32px;
    }

    .duffbeer__item--second-description,
    .duffbeer__item--four-description {
        padding: 16px 50px;
    }

    .duffbeer__item--third:before {
        top: 67px;
    }

    .duffbeer__item--six:before {
        top: 63px;
    }



    .duffbeer__item--four {
        width: 396px;
        height: 294px;
        background: url("../../img/duffbeer/3.3.jpg")center center no-repeat;;
    }

    .duffbeer__item--fifth {
        width: 454px;
        height: 294px;
        background: url("../../img/duffbeer/4.4.jpg")center center no-repeat;;
    }

    .duffbeer__item--third {
        margin-left: 160px;
    }

    .duffbeer__item--six {
        margin-left: 0;
    }
}

@media (max-width: 1019px) {

    .duffbeer-block {
        padding-bottom: 97px;
    }

    .duffbeer__description {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 48px;
        padding-left: 20px;
    }

    .duffbeer__list {
        padding: 0 20px;
    }

    .duffbeer__list-item {
        width: 260px!important;
        height: 294px!important;
        margin-right: 26px;
    }

    .duffbeer__item--third {
        margin-left: 0;
    }

    .duffbeer__item--second-description {
        top: 82%;
    }

    .duffbeer__item--first-description,
    .duffbeer__item--second-description {
        padding: 16px 10px;
        text-align: left;
    }

}

@media (max-width: 699px) {

    .duffbeer-block {
        padding-bottom: 83px;
    }

    .duffbeer__description {
        padding-bottom: 8px;
    }
}
