.main-block {
    position: relative;
    width: 100%;
    height: 599px;
    background: url("../../img/main/pattern-bg.png") no-repeat 100% 143%,
    url("../../img/main/bg1.png");
    margin-bottom: 100px;
}

.main-block__logo {
    position: absolute;
    left: 60px;
    top: 0;
}

.title {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    color: white;
    padding: 219px 0 15px 60px;
    margin: 0;
}

.subtitle {
    font-family: Arial, sans-serif;
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
    color: white;
    padding: 0 0 15px 60px;
    width: 570px;
    margin: 0;
}


@media (max-width: 1339px) {
    .main-block {
        background: url("../../img/main/bg-930.png");
        margin-bottom: 80px;
    }

    .title {
        padding: 238px 0 28px 40px;
    }

    .subtitle {
        padding: 0 0 0 40px;
    }
}

@media (max-width: 1019px) {

    .main-block {
        height: 314px;
        background: url("../../img/main/bg-610.png") center;
        margin-bottom: 60px;
    }

    .main-block__logo {
        width: 167px;
        left: 50%;
        transform: translateX(-50%);
    }

    .title {
        font-size: 36px;
        line-height: 40px;
        padding: 118px 0 21px;
        text-align: center;
    }

    .subtitle {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        width: 350px;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 699px) {

    .main-block {
        height: 352px;
        background-size: cover;
        margin-bottom: 50px;
    }

    .main-block__logo {
        width: 167px;
        left: 50%;
        transform: translateX(-50%);
    }

    .title {
        font-size: 24px;
        line-height: 24px;
        padding: 118px 0 21px;
    }

    .subtitle {
        width: 227px;
    }
}

