.mission-block__top {
    width: 100%;
    background: #0A3B93 url("../../img/mission/bg.svg") no-repeat right bottom;
    padding: 94px 442px 94px 145px;
}

.mission-block__top-content {
    position: relative;
    margin: 0;
    color: white;
    font-size: 24px;
    line-height: 32px;
}

.mission-block__top-content:before {
    position: absolute;
    content: url("../../img/mission/«.svg");
    top: 0;
    left: -85px;
}

.mission-block__bot {
    width: 100%;
    padding: 80px 185px 101px 185px;
    background: url("../../img/mission/main-bg.png") center center / cover no-repeat;
}

.mission-block__title {
    position: relative;
    font-size: 48px;
    line-height: 80px;
}

.mission-block__title:before,
.mission-block__title:after {
    position: absolute;
    content: '';
    height: 4px;
    width: 66px;
    background: white;
    top: 40px;
}

.mission-block__title:before {
    left: 118px;
}

.mission-block__title:after {
    right: 118px;
}

.mission-block__subtitle {
    font-size: 24px;
    line-height: 32px;
}

.mission-block__subtitle,
.mission-block__title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 39px 0;
}

.mission-block__button {
    display: block;
    margin: auto;
    width: 283px;
    height: 64px;
    background: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    color: #0A3B93;
    transition: 0.3s;
    font-size: 18px;
    line-height: 28px;
}

.mission-block__button:hover {
    background: #a16b45;
    color: white;
}


@media (max-width: 1339px) {

    .mission-block__top {
        background: #0A3B93 url("../../img/mission/bg.svg") no-repeat 156% 100%;
        padding: 94px 125px;
    }

    .mission-block__top-content:before {
        left: -84px;
    }

    .mission-block__bot {
        padding: 84px 174px 101px 174px;
    }

    .mission-block__title:before {
        left: -30px;
    }

    .mission-block__title:after {
        right: -30px;
    }

    .mission-block__subtitle,
    .mission-block__title {
        margin: 0 0 35px 0;
    }
}

@media (max-width: 1019px) {

    .mission-block__top {
        background: #0A3B93 url("../../img/mission/bg-mob.svg") no-repeat right 180%;
        padding: 32px 90px 32px 69px;
    }

    .mission-block__top-content {
        font-size: 16px;
        line-height: 20px;
    }

    .mission-block__top-content:before {
        content: '';
        width: 22px;
        height: 28px;
        background: url("../../img/mission/«.svg") center center no-repeat;
        background-size: 100%;
        left: -47px;
        top: 5px;
    }

    .mission-block__bot {
        padding: 55px 91px;
    }

    .mission-block__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 32px;
    }

    .mission-block__title:before,
    .mission-block__title:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 15px;
        background: white;
        top: 16px;
    }

    .mission-block__title:before {
        left: 35px;
    }

    .mission-block__title:after {
        right: 35px;
    }

    .mission-block__subtitle {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 20px;
    }

    .mission-block__button {
        width: 171px;
        height: 48px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 28px;
    }
}

@media (max-width: 699px) {

    .mission-block__top {
        background: #0A3B93 url("../../img/mission/bg-mob.svg") no-repeat 133% 83px;
        padding: 32px 16px 32px 45px;
    }

    .mission-block__top-content:before {
        content: '';
        width: 22px;
        height: 28px;
        background: url("../../img/mission/«.svg") center center no-repeat;
        background-size: 100%;
        left: -26px;
        top: 0;
    }

    .mission-block__bot {
        padding: 27px 16px 60px 14px;
    }

    .mission-block__title {
        font-size: 18px;
        line-height: 46px;
        margin-bottom: 4px;
    }

    .mission-block__title:before,
    .mission-block__title:after {
        width: 12px;
        top: 22px;
    }

    .mission-block__title:before {
        left: calc(44% - 100px);
    }

    .mission-block__title:after {
        right: calc(44% - 100px);
    }

    .mission-block__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .mission-block__button {
        width: 197px;
        font-size: 18px;
    }
}
