.accordion {
    position: relative;
}

.accordion__control {
    position: relative;
    height: 139px;
    background: #0A3B93;
    border: none;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-top: -4px;
}

.accordion__control:hover {
    cursor: pointer;
}

.accordion__control:after {
    position: absolute;
    content:url("../../img/advantages/+.svg");
    top: 90px;
    right: 20px;
}

.accordion__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.2s ease-out;
    box-sizing: content-box;
    padding: 0 10px;
    background: #0A3B93;
    color: #fff;
    visibility: hidden;
    position: absolute;
    top: -127%;
}

.accordion.open .accordion__content {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: -178px;
    min-height: 275px;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.accordion__content:after {
    position: absolute;
    content:url("../../img/advantages/x.svg");
    top: 265px;
    right: 18px;
}


@media (max-width: 1339px) {

    .accordion__control {
        width: 260px;
        height: 165px;
    }

    .accordion__control:after {
        position: absolute;
        content:url("../../img/advantages/+.svg");
        top: 120px;
        right: 20px;
    }

    .accordion.open .accordion__content {
        top: -178px;
        min-height: 297px;
        padding: 20px;
        font-size: 14px;
        line-height: 18px;
        max-width: 220px;
    }

    .accordion__content:after {
        top: 293px;
        right: 18px;
    }
}

@media (max-width: 1019px) {

    .accordion__control {
        height: 106px;
        font-size: 14px;
        line-height: 22px;
        margin-top: -4px;
    }

    .accordion__control:after {
        top: 63px;
    }

    .list-item__poster {
        object-fit: cover;
        height: 178px;
    }

    .accordion.open .accordion__content {
        top: -181px;
        min-height: 239px;
    }

    .accordion__content:after {
        top: 241px;
    }
}
